/************** SITE WIDE *****************/
@font-face {
    font-family: alexbrush;
    src: url("assets\fonts\AlexBrush-Regular.ttf");
  }
  
  @font-face {
    font-family: greatvibes;
    src: url("assets\fonts\GreatVibes-Regular.otf");
  }
  
  @font-face {
    font-family: monst-light;
    src: url("assets\fonts\Montserrat-Light.ttf");
  }

html, body{
    margin: 0 auto;
    scroll-behavior: smooth;
    overflow-y:auto;
}



/************** HEAD IMAGE *****************/
.coverPhoto{
    position: relative;
    text-align: center;
    font-size: x-large;
  
}
.coverPhoto img{
    filter:saturate(0);
    height: 300px;
    width: 100%;
    object-fit: cover;
}

  
  /* Centered text */
  .centered {
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }






/****************** MAIN CONTENT *****************/
/************** filmIntro ******************/
#filmIntro{
    font-size: x-large;
    background-color: white;
    padding-top: 60px;
    padding-bottom: 120px;
    margin:0 auto;
}
#filmIntroItems{
    margin-left: 20%;
    margin-right: 20%;
    word-wrap: break-word;
}
#filmIntroItems h1{
    text-align: center;
}
#filmIntroItems p{
    text-align: left;
}

/************** COVID Guidelines ******************/
#guidelinesIntro{
    background-color: rgb(177, 177, 177);
    padding-top: 40px;
    padding-bottom: 40px;
    margin:0 auto;
}
#guidelinesIntroItems{
    margin-left: 20%;
    margin-right: 20%;
    word-wrap: break-word;
}

#guidelinesIntroItems p{
    text-align: left;
}
/******************* CONTAINER ********************/
.container{
 
    padding-top: 5%;
}
.container p{
    padding-top: 5%;
    font-size:x-large;
    text-align: justify;
}
/******************* CONTAINER ********************/
#shootContainer{
    font-size: x-large;
    background-color: white;
    color: black;
    padding-top: 20%;
    padding-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
 
}
#shootContainer img{

    height: 500px;
    width: 510px;
}
/************** DINING ROOM ******************/
#diningContainer{
    font-size: x-large;
    background-color: white;
    color: black;
    padding-top: 35%;
    padding-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
 
}
#diningContainer img{
  
    height: 500px;
    width: 510px;

}
/***************** LIVING ROOM ***********************/
#livingContainer{
    background-color: white;
    color: black;
    padding-top: 35%;
    padding-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: x-large;
}
#livingContainer img{
    
    height: 500px;
    width: 510px;

}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

  #myBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
  }
  


/**************** media query *****************/
@media (max-width:768px){
    #shootContainer img{
        width: 230px;
        height: 230px;
        border-radius: 0px;
   }
    #diningContainer img{
        width: 230px;
        height: 230px;
        border-radius: 0px;
   }
    #livingContainer img{
        width: 230px;
        height: 230px;
        border-radius: 0px;
   }
}
